In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
import os
import sys

In [4]:
sys.path.append("..")

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
players = pd.read_csv("../data/players_22.csv")

/tmp/ipykernel_34763/4277343973.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv("../data/players_22.csv")

In [7]:
players.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/220002,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewandowski/220002,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/220002,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-silva-santos-jr/220002,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruyne/220002,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [8]:
players.columns.values

array(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur',
       'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id',
       'club_name', 'league_name', 'league_level', 'club_position',
       'club_jersey_number', 'club_loaned_from', 'club_joined',
       'club_contract_valid_until', 'nationality_id', 'nationality_name',
       'nation_team_id', 'nation_position', 'nation_jersey_number',
       'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'work_rate', 'body_type', 'real_face',
       'release_clause_eur', 'player_tags', 'player_traits', 'pace',
       'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina',
       'power_strength', 'power_long_shots', 'mentality_aggression',
       'mentality_interceptions', 'mentality_positioning',
       'mentality_vision', 'mentality_penalties', 'mentality_composure',
       'defending_marking_awareness', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes',
       'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf',
       'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb',
       'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk',
       'player_face_url', 'club_logo_url', 'club_flag_url',
       'nation_logo_url', 'nation_flag_url'], dtype=object)

In [9]:
players[["long_name","club_name"]]

                                 long_name            club_name
0           Lionel Andrés Messi Cuccittini  Paris Saint-Germain
1                       Robert Lewandowski    FC Bayern München
2      Cristiano Ronaldo dos Santos Aveiro    Manchester United
3            Neymar da Silva Santos Júnior  Paris Saint-Germain
4                          Kevin De Bruyne      Manchester City
...                                    ...                  ...
19234                                  宋德福             Wuhan FC
19235                      Caoimhin Porter           Derry City
19236              Nathan Logue-Cunningham           Finn Harps
19237                          Luke Rudden           Finn Harps
19238              Emanuel Lalchhanchhuaha  NorthEast United FC

[19239 rows x 2 columns]

In [10]:
teamPlayers = players[["long_name","club_name"]].sort_values(by="club_name").groupby("club_name").count()

In [11]:
teamPlayers.reset_index(inplace=True)
del teamPlayers["long_name"]
teamPlayers

                     club_name
0        1. FC Heidenheim 1846
1         1. FC Kaiserslautern
2                   1. FC Köln
3              1. FC Magdeburg
4               1. FC Nürnberg
..                         ...
696                  Örebro SK
697              Östersunds FK
698     İstanbul Başakşehir FK
699  İttifak Holding Konyaspor
700              Śląsk Wrocław

[701 rows x 1 columns]

In [12]:
teamPlayers.club_name.nunique()

701

In [13]:
players[['overall', 'potential', 'value_eur',
       'wage_eur',]]

       overall  potential    value_eur  wage_eur
0           93         93   78000000.0  320000.0
1           92         92  119500000.0  270000.0
2           91         91   45000000.0  270000.0
3           91         91  129000000.0  270000.0
4           91         91  125500000.0  350000.0
...        ...        ...          ...       ...
19234       47         52      70000.0    1000.0
19235       47         59     110000.0     500.0
19236       47         55     100000.0     500.0
19237       47         60     110000.0     500.0
19238       47         60     110000.0     500.0

[19239 rows x 4 columns]

In [14]:
playerOverall = players[["long_name","club_name", "club_position","overall"]
].sort_values(by="overall", ascending=False)
playerOverall

,long_name,club_name,club_position,overall
0,Lionel Andrés Messi Cuccittini,Paris Saint-Germain,RW,93
1,Robert Lewandowski,FC Bayern München,ST,92
2,Cristiano Ronaldo dos Santos Aveiro,Manchester United,ST,91
3,Neymar da Silva Santos Júnior,Paris Saint-Germain,LW,91
4,Kevin De Bruyne,Manchester City,RCM,91
...,...,...,...,...
19223,房欣峰,Qingdao FC,SUB,47
19222,王世龙,Guangzhou FC,SUB,47
19221,王振澳,Dalian Professional Football Club,SUB,47
19220,Darren Collins,Sligo Rovers,RES,47
19238,Emanuel Lalchhanchhuaha,NorthEast United FC,SUB,47

In [15]:
goalkeepers = playerOverall[playerOverall["club_position"]=="GK"]
goalkeepers.head()

                long_name            club_name club_position  overall
5               Jan Oblak   Atlético de Madrid            GK       91
7      Manuel Peter Neuer    FC Bayern München            GK       90
8   Marc-André ter Stegen         FC Barcelona            GK       90
21   Gianluigi Donnarumma  Paris Saint-Germain            GK       89
20  Alisson Ramsés Becker            Liverpool            GK       89

In [16]:
# check how many goalkeepers are there per team
goalkeepers.groupby("club_name").count()

                           long_name  club_position  overall
club_name
1. FC Heidenheim 1846              1              1        1
1. FC Kaiserslautern               1              1        1
1. FC Köln                         1              1        1
1. FC Magdeburg                    1              1        1
1. FC Nürnberg                     1              1        1
...                              ...            ...      ...
Örebro SK                          1              1        1
Östersunds FK                      1              1        1
İstanbul Başakşehir FK             1              1        1
İttifak Holding Konyaspor          1              1        1
Śląsk Wrocław                      1              1        1

[701 rows x 3 columns]

In [17]:
#get only the first goalkeeper
goalkeepers = goalkeepers.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
goalkeepers

,long_name,club_name,club_position,overall
5,Jan Oblak,Atlético de Madrid,GK,91
8,Marc-André ter Stegen,FC Barcelona,GK,90
7,Manuel Peter Neuer,FC Bayern München,GK,90
21,Gianluigi Donnarumma,Paris Saint-Germain,GK,89
20,Alisson Ramsés Becker,Liverpool,GK,89
...,...,...,...,...
17888,Denilson Antonio Ojeda Salazar,AC Mineros de Guayana,GK,55
18316,Aurelian Eusebio Păun,FC Academica Clinceni,GK,54
18482,Macklin Freke,Brisbane Roar,GK,53
18440,Moataz Al-Baqaawi,Al Taawoun,GK,53
18769,Phurba Lachenpa,Mumbai City FC,GK,52

In [18]:
# get forwards
forward = playerOverall[playerOverall["club_position"].isin(["ST", "RW", "LW", "CF", 
                                                             "RCM","LCM","CAM","RDM","LCM","CM","CDM","LM","RM"])]
forward.head()

,long_name,club_name,club_position,overall
0,Lionel Andrés Messi Cuccittini,Paris Saint-Germain,RW,93
1,Robert Lewandowski,FC Bayern München,ST,92
2,Cristiano Ronaldo dos Santos Aveiro,Manchester United,ST,91
3,Neymar da Silva Santos Júnior,Paris Saint-Germain,LW,91
4,Kevin De Bruyne,Manchester City,RCM,91

In [19]:
#get only the first forward
forward = forward.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
forward

,long_name,club_name,club_position,overall
0,Lionel Andrés Messi Cuccittini,Paris Saint-Germain,RW,93
1,Robert Lewandowski,FC Bayern München,ST,92
2,Cristiano Ronaldo dos Santos Aveiro,Manchester United,ST,91
4,Kevin De Bruyne,Manchester City,RCM,91
9,Harry Kane,Tottenham Hotspur,ST,90
...,...,...,...,...
16009,Ciaron Harkin,Derry City,LCM,59
15969,Christopher Lyons,Drogheda United,ST,59
16085,罗皓,Chongqing Liangjiang Athletic,CM,59
17089,Phoenix Patterson,Waterford FC,LM,57
17440,Dean Zambra,Longford Town,RDM,56

In [20]:
# get mid field 1
mid1 = playerOverall[playerOverall["club_position"].isin(["RCM","LCM","CAM","RDM","LCM","CM","CDM","LM","RM"])]
mid1.head()

,long_name,club_name,club_position,overall
4,Kevin De Bruyne,Manchester City,RCM,91
10,N'Golo Kanté,Chelsea,RCM,90
19,Joshua Walter Kimmich,FC Bayern München,RDM,89
14,Carlos Henrique Venancio Casimiro,Real Madrid CF,CDM,89
28,Bruno Miguel Borges Fernandes,Manchester United,CAM,88

In [21]:
# get only names not in forward
mid1 = mid1[~mid1.long_name.isin(forward.long_name.values)]

In [22]:
#get only the first midfielder
mid1 = mid1.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
mid1.head()

,long_name,club_name,club_position,overall
19,Joshua Walter Kimmich,FC Bayern München,RDM,89
14,Carlos Henrique Venancio Casimiro,Real Madrid CF,CDM,89
28,Bruno Miguel Borges Fernandes,Manchester United,CAM,88
38,Marco Verratti,Paris Saint-Germain,LCM,87
52,Sergio Busquets i Burgos,FC Barcelona,CDM,86

In [23]:
# get mid field 2
mid2 = playerOverall[playerOverall["club_position"].isin(["RCM","LCM","CAM","RDM","LCM","CM","CDM","LM","RM"])]
mid2.head()

,long_name,club_name,club_position,overall
4,Kevin De Bruyne,Manchester City,RCM,91
10,N'Golo Kanté,Chelsea,RCM,90
19,Joshua Walter Kimmich,FC Bayern München,RDM,89
14,Carlos Henrique Venancio Casimiro,Real Madrid CF,CDM,89
28,Bruno Miguel Borges Fernandes,Manchester United,CAM,88

In [24]:
# get only names not in mid 1 and forward
mid2 = mid2[(~mid2.long_name.isin(mid1.long_name.values) & ~mid2.long_name.isin(forward.long_name.values))]

In [25]:
#get only the next mid after first midfielder
mid2 = mid2.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
mid2.head()

                 long_name          club_name club_position  overall
24              Toni Kroos     Real Madrid CF           LCM       88
37              Paul Pogba  Manchester United           RDM       87
35           Thomas Müller  FC Bayern München           CAM       87
61  Fábio Henrique Tavares          Liverpool           CDM       86
78          İlkay Gündoğan    Manchester City           LCM       85

In [27]:
# get defender field 1
def1 = playerOverall[playerOverall["club_position"].isin(["LB","RB","RCB","LCB","CB","LWB","RWB"])]
def1.head()

,long_name,club_name,club_position,overall
15,Virgil van Dijk,Liverpool,LCB,89
22,Sergio Ramos García,Paris Saint-Germain,LCB,88
46,Rúben dos Santos Gato Alves Dias,Manchester City,RCB,87
44,Trent Alexander-Arnold,Liverpool,RB,87
42,Andrew Robertson,Liverpool,LB,87

In [28]:
#get only the first defender
def1 = def1.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
def1

,long_name,club_name,club_position,overall
15,Virgil van Dijk,Liverpool,LCB,89
22,Sergio Ramos García,Paris Saint-Germain,LCB,88
46,Rúben dos Santos Gato Alves Dias,Manchester City,RCB,87
57,Raphaël Varane,Manchester United,RCB,86
50,Jordi Alba Ramos,FC Barcelona,LB,86
...,...,...,...,...
14400,Edward William Nolan,Waterford FC,LCB,61
14428,Daniel Patrick Lafferty,Derry City,LWB,61
14592,Kosovar Sadiki,Finn Harps,LCB,61
15793,James Brown,Drogheda United,RB,60
16557,Aaron Maurice O'Driscoll,Longford Town,LCB,58

In [29]:
# get defender field 2
def2 = playerOverall[playerOverall["club_position"].isin(["LB","RB","RCB","LCB","CB","LWB","RWB"])]
def2.head()

,long_name,club_name,club_position,overall
15,Virgil van Dijk,Liverpool,LCB,89
22,Sergio Ramos García,Paris Saint-Germain,LCB,88
46,Rúben dos Santos Gato Alves Dias,Manchester City,RCB,87
44,Trent Alexander-Arnold,Liverpool,RB,87
42,Andrew Robertson,Liverpool,LB,87

In [30]:
# get only names not in def 1
def2 = def2[~def2.long_name.isin(def1.long_name.values)]

In [31]:
#get only the next def after first defender
def2 = def2.sort_values(by="overall", ascending=False).drop_duplicates(
    subset="club_name")
def2

,long_name,club_name,club_position,overall
44,Trent Alexander-Arnold,Liverpool,RB,87
39,Marcos Aoás Corrêa,Paris Saint-Germain,RCB,87
62,João Pedro Cavaco Cancelo,Manchester City,LB,86
84,Stefan de Vrij,Inter,CB,85
76,Leonardo Bonucci,Juventus,RCB,85
...,...,...,...,...
16595,杨帅,Chongqing Liangjiang Athletic,LCB,58
16596,Patrick Kirk,Longford Town,LB,58
16997,Gurjinder Kumar,NorthEast United FC,LB,57
17373,Max Rosenfelder,SC Freiburg II,LCB,57
17524,Laldinliana Renthlei,Jamshedpur FC,RB,56

In [32]:
#load previously selected EPL club names
selected = pd.read_pickle("selectedNames.pkl")

In [33]:
selected["Current Club"].unique()

array(['West Ham United', 'Cardiff City', 'Manchester United',
       'Liverpool', 'Everton', 'Manchester City', 'Watford',
       'Leicester City', 'Newcastle United', 'Wolverhampton Wanderers',
       'Chelsea', 'Brighton & Hove Albion', 'Tottenham Hotspur',
       'Arsenal', 'Huddersfield Town', 'Fulham', 'Southampton',
       'AFC Bournemouth', 'Crystal Palace', 'Burnley'], dtype=object)

In [34]:
# filter team players for only EPL clubs

teamPlayers = teamPlayers[teamPlayers.club_name.isin(selected["Current Club"].unique())]
teamPlayers

                   club_name
16           AFC Bournemouth
58                   Arsenal
98    Brighton & Hove Albion
105                  Burnley
123             Cardiff City
135                  Chelsea
194           Crystal Palace
231                  Everton
300                   Fulham
349        Huddersfield Town
398           Leicester City
403                Liverpool
411          Manchester City
412        Manchester United
440         Newcastle United
589              Southampton
630        Tottenham Hotspur
676                  Watford
679          West Ham United
686  Wolverhampton Wanderers

In [36]:
# merge all team names set
teamPlayers = pd.merge(teamPlayers, goalkeepers[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "GK"})
teamPlayers

                  club_name                         GK
0           AFC Bournemouth               Mark Travers
1                   Arsenal                 Bernd Leno
2    Brighton & Hove Albion       Robert Lynch Sanchéz
3                   Burnley                  Nick Pope
4              Cardiff City            Dillon Phillips
5                   Chelsea              Édouard Mendy
6            Crystal Palace    Vicente Guaita Panadero
7                   Everton            Jordan Pickford
8                    Fulham       Paulo Dino Gazzaniga
9         Huddersfield Town               Lee Nicholls
10           Leicester City    Kasper Peter Schmeichel
11                Liverpool      Alisson Ramsés Becker
12          Manchester City  Ederson Santana de Moraes
13        Manchester United      David De Gea Quintana
14         Newcastle United            Freddie Woodman
15              Southampton              Alex McCarthy
16        Tottenham Hotspur                Hugo Lloris
17                  Watford            Daniel Bachmann
18          West Ham United           Łukasz Fabiański
19  Wolverhampton Wanderers  José Pedro Malheiro de Sá

In [37]:
# merge all team names set
teamPlayers = pd.merge(teamPlayers, forward[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "FW"})
teamPlayers

,club_name,GK,FW
0,AFC Bournemouth,Mark Travers,David Robert Brooks
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma
3,Burnley,Nick Pope,Ashley Westwood
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore
5,Chelsea,Édouard Mendy,N'Golo Kanté
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha
7,Everton,Jordan Pickford,Richarlison de Andrade
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy
11,Liverpool,Alisson Ramsés Becker,Sadio Mané
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala
15,Southampton,Alex McCarthy,James Ward-Prowse
16,Tottenham Hotspur,Hugo Lloris,Harry Kane
17,Watford,Daniel Bachmann,Moussa Sissoko
18,West Ham United,Łukasz Fabiański,Tomáš Souček
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez

In [38]:
# merge midfields
teamPlayers = pd.merge(teamPlayers, mid1[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "MD1"})
teamPlayers

,club_name,GK,FW,MD1
0,AFC Bournemouth,Mark Travers,David Robert Brooks,Ben Pearson
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang,Thomas Partey
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma,Leandro Trossard
3,Burnley,Nick Pope,Ashley Westwood,Dwight McNeil
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore,Marlon Pack
5,Chelsea,Édouard Mendy,N'Golo Kanté,Luiz Frello Filho Jorge
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha,Cheikhou Kouyaté
7,Everton,Jordan Pickford,Richarlison de Andrade,Abdoulaye Doucouré
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović,Harry Wilson
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg,Lewis O'Brien
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy,Youri Tielemans
11,Liverpool,Alisson Ramsés Becker,Sadio Mané,Thiago Alcântara do Nascimento
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne,Rodrigo Hernández Cascante
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro,Bruno Miguel Borges Fernandes
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala,Isaac Hayden
15,Southampton,Alex McCarthy,James Ward-Prowse,Oriol Romeu Vidal
16,Tottenham Hotspur,Hugo Lloris,Harry Kane,Pierre-Emile Kordt Højbjerg
17,Watford,Daniel Bachmann,Moussa Sissoko,Ismaïla Sarr
18,West Ham United,Łukasz Fabiański,Tomáš Souček,Pablo Fornals Malla
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez,Rúben Diogo da Silva Neves

In [39]:
# merge midfields
teamPlayers = pd.merge(teamPlayers, mid2[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "MD2"})
teamPlayers

,club_name,GK,FW,MD1,MD2
0,AFC Bournemouth,Mark Travers,David Robert Brooks,Ben Pearson,Jefferson Andrés Lerma Solís
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang,Thomas Partey,Martin Ødegaard
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma,Leandro Trossard,Pascal Groß
3,Burnley,Nick Pope,Ashley Westwood,Dwight McNeil,Josh Brownhill
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore,Marlon Pack,Joe Ralls
5,Chelsea,Édouard Mendy,N'Golo Kanté,Luiz Frello Filho Jorge,NaN
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha,Cheikhou Kouyaté,James McArthur
7,Everton,Jordan Pickford,Richarlison de Andrade,Abdoulaye Doucouré,Andros Townsend
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović,Harry Wilson,Nathaniel Chalobah
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg,Lewis O'Brien,Duane Holmes
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy,Youri Tielemans,James Maddison
11,Liverpool,Alisson Ramsés Becker,Sadio Mané,Thiago Alcântara do Nascimento,Fábio Henrique Tavares
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne,Rodrigo Hernández Cascante,İlkay Gündoğan
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro,Bruno Miguel Borges Fernandes,Paul Pogba
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala,Isaac Hayden,Joseph Willock
15,Southampton,Alex McCarthy,James Ward-Prowse,Oriol Romeu Vidal,Stuart Armstrong
16,Tottenham Hotspur,Hugo Lloris,Harry Kane,Pierre-Emile Kordt Højbjerg,Bamidele Alli
17,Watford,Daniel Bachmann,Moussa Sissoko,Ismaïla Sarr,Tom Cleverley
18,West Ham United,Łukasz Fabiański,Tomáš Souček,Pablo Fornals Malla,Mohamed Saïd Benrahma
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez,Rúben Diogo da Silva Neves,João Filipe Iria Santos Moutinho

In [40]:
# merge defenders
teamPlayers = pd.merge(teamPlayers, def1[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "DF1"})
teamPlayers

,club_name,GK,FW,MD1,MD2,DF1
0,AFC Bournemouth,Mark Travers,David Robert Brooks,Ben Pearson,Jefferson Andrés Lerma Solís,Gary Cahill
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang,Thomas Partey,Martin Ødegaard,Kieran Tierney
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma,Leandro Trossard,Pascal Groß,Lewis Dunk
3,Burnley,Nick Pope,Ashley Westwood,Dwight McNeil,Josh Brownhill,James Tarkowski
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore,Marlon Pack,Joe Ralls,Sean Morrison
5,Chelsea,Édouard Mendy,N'Golo Kanté,Luiz Frello Filho Jorge,NaN,César Azpilicueta Tanco
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha,Cheikhou Kouyaté,James McArthur,Joachim Christian Andersen
7,Everton,Jordan Pickford,Richarlison de Andrade,Abdoulaye Doucouré,Andros Townsend,Lucas Digne
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović,Harry Wilson,Nathaniel Chalobah,Kenny Joelle Tete
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg,Lewis O'Brien,Duane Holmes,Harry Toffolo
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy,Youri Tielemans,James Maddison,Ricardo Domingos Barbosa Pereira
11,Liverpool,Alisson Ramsés Becker,Sadio Mané,Thiago Alcântara do Nascimento,Fábio Henrique Tavares,Virgil van Dijk
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne,Rodrigo Hernández Cascante,İlkay Gündoğan,Rúben dos Santos Gato Alves Dias
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro,Bruno Miguel Borges Fernandes,Paul Pogba,Raphaël Varane
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala,Isaac Hayden,Joseph Willock,Jamaal Lascelles
15,Southampton,Alex McCarthy,James Ward-Prowse,Oriol Romeu Vidal,Stuart Armstrong,Romain Perraud
16,Tottenham Hotspur,Hugo Lloris,Harry Kane,Pierre-Emile Kordt Højbjerg,Bamidele Alli,Sergio Reguilón Rodríguez
17,Watford,Daniel Bachmann,Moussa Sissoko,Ismaïla Sarr,Tom Cleverley,Adam Masina
18,West Ham United,Łukasz Fabiański,Tomáš Souček,Pablo Fornals Malla,Mohamed Saïd Benrahma,Angelo Obinze Ogbonna
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez,Rúben Diogo da Silva Neves,João Filipe Iria Santos Moutinho,Nélson Cabral Semedo

In [41]:
# merge defenders
teamPlayers = pd.merge(teamPlayers, def2[["long_name","club_name"]], how="left", on=["club_name"]
                      ).rename(columns={"long_name": "DF2"})
teamPlayers

,club_name,GK,FW,MD1,MD2,DF1,DF2
0,AFC Bournemouth,Mark Travers,David Robert Brooks,Ben Pearson,Jefferson Andrés Lerma Solís,Gary Cahill,Adam Smith
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang,Thomas Partey,Martin Ødegaard,Kieran Tierney,Gabriel dos Santos Magalhães
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma,Leandro Trossard,Pascal Groß,Lewis Dunk,Joël Ivo Veltman
3,Burnley,Nick Pope,Ashley Westwood,Dwight McNeil,Josh Brownhill,James Tarkowski,Ben Mee
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore,Marlon Pack,Joe Ralls,Sean Morrison,Aden Flint
5,Chelsea,Édouard Mendy,N'Golo Kanté,Luiz Frello Filho Jorge,NaN,César Azpilicueta Tanco,Antonio Rüdiger
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha,Cheikhou Kouyaté,James McArthur,Joachim Christian Andersen,Joel Ward
7,Everton,Jordan Pickford,Richarlison de Andrade,Abdoulaye Doucouré,Andros Townsend,Lucas Digne,Michael Keane
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović,Harry Wilson,Nathaniel Chalobah,Kenny Joelle Tete,Oluwatosin Adarabioyo
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg,Lewis O'Brien,Duane Holmes,Harry Toffolo,Matthew Pearson
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy,Youri Tielemans,James Maddison,Ricardo Domingos Barbosa Pereira,Çağlar Söyüncü
11,Liverpool,Alisson Ramsés Becker,Sadio Mané,Thiago Alcântara do Nascimento,Fábio Henrique Tavares,Virgil van Dijk,Trent Alexander-Arnold
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne,Rodrigo Hernández Cascante,İlkay Gündoğan,Rúben dos Santos Gato Alves Dias,João Pedro Cavaco Cancelo
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro,Bruno Miguel Borges Fernandes,Paul Pogba,Raphaël Varane,Harry Maguire
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala,Isaac Hayden,Joseph Willock,Jamaal Lascelles,Fabian Lukas Schär
15,Southampton,Alex McCarthy,James Ward-Prowse,Oriol Romeu Vidal,Stuart Armstrong,Romain Perraud,Mohamed Salisu Abdul Karim
16,Tottenham Hotspur,Hugo Lloris,Harry Kane,Pierre-Emile Kordt Højbjerg,Bamidele Alli,Sergio Reguilón Rodríguez,Eric Dier
17,Watford,Daniel Bachmann,Moussa Sissoko,Ismaïla Sarr,Tom Cleverley,Adam Masina,William Troost-Ekong
18,West Ham United,Łukasz Fabiański,Tomáš Souček,Pablo Fornals Malla,Mohamed Saïd Benrahma,Angelo Obinze Ogbonna,Vladimír Coufal
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez,Rúben Diogo da Silva Neves,João Filipe Iria Santos Moutinho,Nélson Cabral Semedo,Conor Coady

In [51]:
# Manual fix players due to position wrong
teamPlayers.iloc[5]["FW"] = "Romelu Lukaku Menama"
teamPlayers.iloc[5]["MD2"] = "N'Golo Kanté"

In [52]:
teamPlayers

,club_name,GK,FW,MD1,MD2,DF1,DF2
0,AFC Bournemouth,Mark Travers,David Robert Brooks,Ben Pearson,Jefferson Andrés Lerma Solís,Gary Cahill,Adam Smith
1,Arsenal,Bernd Leno,Pierre-Emerick Emiliano François Aubameyang,Thomas Partey,Martin Ødegaard,Kieran Tierney,Gabriel dos Santos Magalhães
2,Brighton & Hove Albion,Robert Lynch Sanchéz,Yves Bissouma,Leandro Trossard,Pascal Groß,Lewis Dunk,Joël Ivo Veltman
3,Burnley,Nick Pope,Ashley Westwood,Dwight McNeil,Josh Brownhill,James Tarkowski,Ben Mee
4,Cardiff City,Dillon Phillips,Kieffer Roberto Francisco Moore,Marlon Pack,Joe Ralls,Sean Morrison,Aden Flint
5,Chelsea,Édouard Mendy,Romelu Lukaku Menama,Luiz Frello Filho Jorge,N'Golo Kanté,César Azpilicueta Tanco,Antonio Rüdiger
6,Crystal Palace,Vicente Guaita Panadero,Wilfried Zaha,Cheikhou Kouyaté,James McArthur,Joachim Christian Andersen,Joel Ward
7,Everton,Jordan Pickford,Richarlison de Andrade,Abdoulaye Doucouré,Andros Townsend,Lucas Digne,Michael Keane
8,Fulham,Paulo Dino Gazzaniga,Aleksandar Mitrović,Harry Wilson,Nathaniel Chalobah,Kenny Joelle Tete,Oluwatosin Adarabioyo
9,Huddersfield Town,Lee Nicholls,Jonathan Hogg,Lewis O'Brien,Duane Holmes,Harry Toffolo,Matthew Pearson
10,Leicester City,Kasper Peter Schmeichel,Jamie Vardy,Youri Tielemans,James Maddison,Ricardo Domingos Barbosa Pereira,Çağlar Söyüncü
11,Liverpool,Alisson Ramsés Becker,Sadio Mané,Thiago Alcântara do Nascimento,Fábio Henrique Tavares,Virgil van Dijk,Trent Alexander-Arnold
12,Manchester City,Ederson Santana de Moraes,Kevin De Bruyne,Rodrigo Hernández Cascante,İlkay Gündoğan,Rúben dos Santos Gato Alves Dias,João Pedro Cavaco Cancelo
13,Manchester United,David De Gea Quintana,Cristiano Ronaldo dos Santos Aveiro,Bruno Miguel Borges Fernandes,Paul Pogba,Raphaël Varane,Harry Maguire
14,Newcastle United,Freddie Woodman,Miguel Ángel Almirón Rejala,Isaac Hayden,Joseph Willock,Jamaal Lascelles,Fabian Lukas Schär
15,Southampton,Alex McCarthy,James Ward-Prowse,Oriol Romeu Vidal,Stuart Armstrong,Romain Perraud,Mohamed Salisu Abdul Karim
16,Tottenham Hotspur,Hugo Lloris,Harry Kane,Pierre-Emile Kordt Højbjerg,Bamidele Alli,Sergio Reguilón Rodríguez,Eric Dier
17,Watford,Daniel Bachmann,Moussa Sissoko,Ismaïla Sarr,Tom Cleverley,Adam Masina,William Troost-Ekong
18,West Ham United,Łukasz Fabiański,Tomáš Souček,Pablo Fornals Malla,Mohamed Saïd Benrahma,Angelo Obinze Ogbonna,Vladimír Coufal
19,Wolverhampton Wanderers,José Pedro Malheiro de Sá,Raúl Alonso Jiménez Rodríguez,Rúben Diogo da Silva Neves,João Filipe Iria Santos Moutinho,Nélson Cabral Semedo,Conor Coady

In [54]:
teamPlayers.to_pickle("teams.pkl")